html{
    font-size: 62.5%;
}

h1{
    font-size: 2rem;
}
/fontzise30px/

selector universal
*{
    font-family: roboto;
} lo utilizo para todo el documento 

*{
    padding: 0;
    margin: 0;
}reset

@import url( );
 

h1,h2{
    color:black;
    font-family: ;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 3em;
}

p{
    color:black;
    font-family: Arial sans-serif;
    line-height: 1.5em;
}


label{
    color:
}

nav{    
    background-color: ;
}

nav ul{
    list-style: none;
}
    nav ul li a{
        color: ;
        text-decoration: underline;
    }

.text-orange{
        color:;
}

#product{

}


      
 