/* comienza lo importante*/
*{
    font-family: Arial, sans-serif;
}
html{
    font-size: 100%;
}
/* termina lo importante */
h1{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;

}
.text-size{
    font-size: 25px;
    text-align: center;
}
/*empieza la nav */
.botonera{
    background-color: white;

}

    .botonera img{
        width: 200px;
    }

        .botonera ul li a{
            color: black;
            text-decoration: none;
            font-size: 25px;
        }
 
.btn-:hover{
    background-color: black;
    color: rgb(244, 244, 244) 

}
/* termina la nav*/ 

/* comienbza el main*/

/* termina el main*/

/* comienza el footer*/
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/* termina el footer*/


/* resposive*/
/* grid*/
.grid-temple-columns-row{
    grid-template-columns: repeat(3,31%);
    grid-template-rows: repeat(3,31%);
   column-gap: 3%;
   row-gap: 3%;
}
.template-areas{
    grid-template-columns: repeat(3,25%);
    grid-template-rows: repeat(3,25%);
    grid-template-areas: 
    "div div div"
    "div div div"
    "div div div"
    "li  li  li";
}

/*responsive*/
