//variables globales
//colores
$maincolor:black;
$secondarycolor: white;
$keycolor: yellow;

$mainfonts: Arial, sans-serif;
$textg: 3em;
$textmd:25px;
$texta:center;
$textd: none;
$imgt:300px;
$paddingc: 40px;


body{
    background-color: $secondarycolor;
    font-family: $mainfonts;
}

